.chat-main__body_chat{ "data-message-id": "#{message.id}"}
  .chat-main__body_chat-name
    = message.user.name
  .chat-main__body_chat-date
    = message.created_at
  .chat-main__body_chat-message
    = message.body
  %image.chat-main__body_chat-image{src: "#{message.image.url}"}
