.chat-side
 .chat-side__user
  .chat-side__user_name shinji
  = link_to edit_user_registration_path do
   %i.fa.fa-cog.fa-fw
  = link_to new_group_path do
   %i.fa.fa-pencil-square-o.fa-fw


 .chat-side__groups
  = render @groups

.chat-main
 .chat-main__header
  = render 'header'
 .chat-main__body
  = render @messages
 .chat-main__footer
  = render 'form'
