.chat-group-form
  %h1= title
  = form_for @group do |f|
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :name, "グループ名", class: 'chat-group-form__label'
      .chat-group-form__field--right
        = f.text_field :name, placeholder: :"グループ名を入力してください", class: 'chat-group-form__input'
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :users, "チャットメンバーを追加", class: 'chat-group-form__label'
      .chat-group-form__field--right
        = f.text_field :users, value: '', placeholder: :"追加したいユーザーを入力してください", class: 'chat-group-form__input'
        #user-search-result

    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :users, 'チャットメンバー', class: 'chat-group-form__label'
      .chat-group-form__field--right
        #chat-group-users
          %p.chat-group-user__name
            = current_user.name

    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right
        = f.submit "Save", class: 'chat-group-form__action-btn'
